@font-face {
    font-family: 'weo';
    src: url('../fonts/wEO_EBrOk8hQLDvIAF81VvoK.woff2') format('woff2');
    font-weight: 400;
}

body{
    margin: 0 auto;
    font-family: weo, sans-serif;
}
.blind{
    overflow: hidden;
    position: absolute;
    margin: -1px;
    height: 1px; width: 1px;
    clip: rect(0 0 0 0);
}

.common-inner{
    width: 100%;
    max-width: 2400px;
    margin: 0 auto;
}