@import './reset.css';
@import './common.css';
.dimmed{
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: rgba(0,0,0,0.5);
    z-index: 21;
    opacity: 0;
    visibility: hidden;
    transition: .3s;
}

.dimmed.active{
    visibility: visible;
    opacity: 1;
}

.hidden{
    height:100%;
    min-height:100%;
    overflow:hidden;
}


.header{
}
.header .top-slide{
    position: fixed;
    height: 24px;
    width: 100%;
    color: #fff;
    background: #006241;
    display: block;
    z-index: 15;
    top: 0;
}
.header .link-notice{
    text-align: center;
}
.header .notice-txt{
    font-size: 12px;
    line-height: 24px;
}

.header .link-group{
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 14px;
}
.header .link-group::before{
    content: '';
    height: 16px; width: 14px;
    display: inline-block;
    margin-right: 10px;
    background: url(../images/group-w.png) 100% no-repeat;
    background-size: cover;
}


.header .menu-area{
    z-index: 15;
    position: fixed;
    top: 24px;
    height: 102px;
    display: flex;
    justify-content: space-between;
    color: #fff;
    padding: 30px 60px 15px;
    box-sizing: border-box;
    width: 100%;
    align-items: center;

}
.header .menu-area.fixed{
    height: 67px;
    background: #fff;
    color: #000;
    padding: 15px 60px 15px;
    box-shadow: 2px 2px 2px 2px rgb(0 0 0 / 10%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: .3s;
}
.header .fixed .link-group::before {
    background: url(../images/group-b.png) 100% no-repeat;
}

.header .logo{
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    height: 56px; width: 160px;
    background: url(../images/logo-w.png) 100% no-repeat;
    background-size: cover;
    box-sizing: border-box;
}
.header .fixed .logo{
    width: 128px; height: 56px;
    background: url(../images/logo-b.png) 100% no-repeat;
    background-position: center;
    background-size: 100%;
    text-align: center;

}
.header .link-logo{
    display: block;
    height: 100%;
}
.header .menu-wrap{
    display: flex;
    position: relative;
}

.header .btn-reserve{
    border: 1px solid #fff;
    background: transparent;
    width: 130px;
    line-height: 40px;
    height: 40px;
    border-radius: 50px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    transition: .3s;
}
.header .fixed .btn-reserve{
    border: 1px solid #000;
}
.header .btn-reserve .txt{
    display: inline-block;
    font-size: 14px;
    transition: .3s;
}
.header .btn-reserve:hover{
    background: #fff;
}
.header .btn-reserve:hover .txt{
    color: #000;
}
.header .fixed .btn-reserve:hover{
    background: #000;
}
.header .fixed .btn-reserve:hover .txt{
    color: #fff;
}








.header .reserve-pop{
    z-index: 25;
    position: absolute;
    top: 50%;left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    opacity: 0;
    height: 500px;
    width: 420px;
    box-sizing: border-box;
}
.header .reserve-pop.active{
    display: block;
    opacity: 1;
}

.header .reserve{
    background: url(../images/pop-bg.jpg) 100% no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header .reserve legend{
    font-size: 28px;
    margin-bottom: 20px;
}

.header .name-wrap{
    width: 84%;
    margin: 0 auto;
}
.header .name-box{
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}
.header .call-wrap{
    width: 84%;
    margin: 0 auto;
    margin-top:15px;
}
.header .call-box{
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}
.header .select-wrap{
    width: 84%;
    margin: 15px auto;
}
.header .select-box{
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}


.header .agr-label{
    font-size: 14px;
    vertical-align: top;
    line-height: 30px;
}
.header .agr-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    margin-right: 10px;
}
.header .agr-label.active::before{
    background: #f00;

}

.header label{
    /* margin-top:20px; */
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}


.header .reserve .btn-reserv{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 275px;
    height: 60px;
    border-radius: 10px;
    background-color: #b6a58b;
    padding: 8px;
    border: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}


.header .reserve-pop .reserve{
    width: 420px; height: 499px;
    display: block;
}
.header .btn-menu{
    margin-left: 20px;
    display: inline-block;
    height: 40px; width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}
.header .btn-menu i{
    display: inline-block;
    width: 8px;
    height: 8px;
    margin: 0 6px;
    border-radius: 100%;
    background: #fff;
}

.header .fixed .btn-menu i{
    background: #000;
}


.header .gnb-pop{
    opacity: 0;
    display: none;
    transition: .8s;
    top: -800px;
    z-index: 14;
    
    position: fixed;
    top: 0; left: 0; right: 0; bottom: 0;
    background: url(../images/menu-bg.jpg) no-repeat 100%;
    background-size: 100%;
}
.header .gnb-list.g01:hover .gnb-pop{
    background: url(../images/menu-bg2.jpg) no-repeat 100%;
}
.header .gnb-list.g02:hover .gnb-pop{
    background: url(../images/menu-bg2.jpg) no-repeat 100%;
}
.header .gnb-list .g03:hover .gnb-pop{
    background: url(../images/menu-bg3.jpg) no-repeat 100%;
}
.header .gnb-list .g04:hover .gnb-pop{
    background: url(../images/menu-bg4.jpg) no-repeat 100%;
}
.header .gnb-pop.active{
    opacity: 1;
    display: block;
}
.header .gnb-pop nav{
    display: flex;
    width: 100%;
    margin: 16% auto 0;
    justify-content: center;

}

.header .gnb-pop .num{
    display: block;
    color: #908468;
    font-size: 32px;
    font-weight: 500;
}
.header .gnb-pop .title{
    font-size: 50px;
    padding: 15px 0 50px;
}
.header .gnb-pop .link-gnbbox{
    text-align: center;
    
}
.header .gnb-pop .gnbbox-list{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.header .gnb-pop .gnb-list{
    flex: 1;
}
.header .gnb-pop .gnb-item{
    color: #fff;
    opacity: 0.5;
}


.header .gnb-pop .gnbbox-list{
}
.header .gnb-pop .link-gnbsub{
    font-size: 17px;
    padding: 10px 0;
    display: block;
    line-height: 17px;
}

.header .copy{
    position: absolute;
    bottom: 4%;
    right: 4%;
    color: #c2c2c2;
    opacity: .5;
    font-size: 12px;
}









/* 푸터 */
.footer{
    background-size: cover;
    background: url(../images/footer-bg.jpg) 100% no-repeat;
}
.footer .footer-top{
    padding: 0 60px;
}
.footer .footer-bottom{
    padding: 0 60px;
}
.footer .common-inner{
    /* padding: 0 60px; */
    display: flex;
}


.footer .footer-top{
    color: #fff;
}
.footer .common-inner{
    display: flex;
    justify-content: space-between;
}
.footer .contact-area{
    width: 75%;
}
.footer .corp{
    font-size: 50px;
    text-align: center;
    padding: 70px 0 120px;
}
.footer .contact-wrap{
    display: flex;
    justify-content: center;
    padding-bottom: 70px;

}
.footer .contact-box{
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* .footer .link-contact::after{
    content: "";
    width: 1px;
    height: 80%;
    background: #707070;
    display: inline-block;
} */
.footer .contact-box .contact{
    font-size: 17px;
    margin-bottom: 20px;
}
.footer .contact-box .link-contact{
    line-height: 1.6;

}
.footer .contact-box .link-contact.kakao{
    height: 53px; width: 54px;
    background: url(../images/plus.png) 100% no-repeat;
    background-size:cover;
    display: inline-block;
}
.footer .contact-box .link-contact.call{
    font-size: 34px;
}
.footer .contact-box .link-contact.map{
    font-size: 18px;
    text-align: center;
}
.footer .reserve-form{
    width: 30%;
    text-align: center;
}

.footer .reserve{
    background: url(../images/re-bg.jpg) 100% no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding: 40px;
}
.footer .reserve legend{
    font-size: 28px;
    margin-bottom: 20px;
}

.footer .name-wrap{
    width: 84%;
    margin: 0 auto;
}
.footer .name-box{
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}
.footer .call-wrap{
    width: 84%;
    margin: 0 auto;
    margin-top:15px;
}
.footer .call-box{
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}
.footer .select-wrap{
    width: 84%;
    margin: 15px auto;
}
.footer .select-box{
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}


.footer .agr-label{
    font-size: 14px;
    vertical-align: top;
    line-height: 30px;
}
.footer .agr-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    margin-right: 10px;
}
.footer .agr-label.active::before{
    background: #f00;

}







.footer label{
    /* margin-top:20px; */
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}


.footer .reserve .btn-reserv{
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 275px;
    height: 60px;
    border-radius: 10px;
    background-color: #b6a58b;
    padding: 8px;
    border: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}







.footer .footer-bottom{
    position: relative;
    padding: 2% 0 2% 4%;
    border-top: 1px solid hsla(0,0%,100%,.3);
    background: rgba(0,0,0,.4);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-start;
    
}

.footer .info-area{
    color: #fff;
    font-size: 14px;
    opacity: .8;
    padding-bottom: 24px;
}
.footer .link-info{
    display: inline-block;
    
}
.footer .link-info::after{
    content: '';
    width: 1px;
    height: 10px;
    background: #fff;
    margin: 0 10px 0 15px;
    display: inline-block;
    
}

.footer .addr-wrap span{
    color: #d0d0d0;
    opacity: .8;
    font-size: 12px;
    margin: 0 1rem 0.5rem 0;
    display: inline-block;
    line-height: 20px;
}

.footer .footer-bottom .right{
    position: relative;
    width: 55%;
    display: flex;
}
.footer .award{
    width: 33px; height: 77px;
    background: url(../images/award.png) 100% no-repeat;
    background-size:cover;
    position: absolute;
    top: 15%;
    left:40%;
}

.footer .family-wrap{
    position: absolute;
    width: 120px;
    height: 54px;
    top: 15%;
    left: 45%;
    position: relative;
}
.footer .btn-family-site{
    width: 118px;
    height: 34px;
    display: block;
    line-height: 32px;
    text-align: center;
    background: #000;
    color: #fff;
    border: 1px solid #b9a990;
    border-radius: 50px;
    box-sizing: border-box;
}
.footer .btn-family-site:hover{
    background: #b9a990;
    color: #000;
}
.footer .family-list{
    opacity: 0;
    visibility: hidden;
    display: flex;
    position: absolute;
    top: 80%;
    left: 5%;
    width: 300px;
}
.footer .family-list.active{
    opacity: 1;
    visibility: visible;
}
.footer .family-item{}
.footer .link-family{
    color: #fff;
    margin-right: 10px;
    font-size: 15px;
}