/* 메인슬라이드-------------------------------- */

.sc-slide {
    margin-top: 24px;
}

.sc-slide .main-slide {
    height: 100vh;
}

.sc-slide figure {
    display: block;
    position: relative;
    height: 100%;
}

.sc-slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sc-slide .desc-wrap {
    bottom: 100px;
    left: 100px;
    position: absolute;
    z-index: 2;
    color: #fff;
    overflow: hidden;
}

.sc-slide em {
    font-weight: bold;
}



.sc-slide .desc-wrap p span {
    margin-left: 10px;
    font-size: 20px;
    line-height: 20px;
    overflow: hidden;
    transform: translateY(110%);
}

.sc-slide .desc-wrap h3 span {
    font-size: 180px;
    line-height: 250px;
    overflow: hidden;
    transform: translateY(110%);
}


.sc-slide .swiper-pagination {
    position: absolute;
    bottom: 95px;
    left: 65px;
    width: 10%;
    height: 20px;

}

.sc-slide .swiper-pagination-bullet {
    width: 6px;
    height: 6px;
    margin: 5px 12px !important;
    border-radius: 100%;
    padding: 0;
    background: hsla(0, 0%, 100%, .7);
    opacity: 1;
}


.sc-slide .swiper-slide h3 {
    transform: translateY(-100%);
    transition: 2.3s;
    overflow: hidden;
}

.sc-slide .swiper-slide p {
    transform: translateY(-100%);
    transition: 1s;
    overflow: hidden;
}


.sc-slide .swiper-slide-active .title {
    transform: translateY(0);
    overflow: hidden;
}

.sc-slide .swiper-slide-active p {
    transform: translateY(0);
    overflow: hidden;
}

.sc-slide .swiper-slide-active img {
    transition: 5s;
    transform: scale(1.1);
}

.sc-slide .swiper-slide-active .hide-el {
    overflow: hidden;
}






/* 공통제목,버튼 */
.intro-area {
    text-align: center;
}

.intro-area .subtitle {
    font-size: 19px;
    padding-bottom: 20px;
}

.intro-area .title {
    font-size: 80px;
    /* line-height: 100px; */
}

.intro-area .desc {
    padding-top: 20px;
    font-size: 16px;
    line-height: 25px;
}

.intro-area .link-intro {
    display: inline-block;
    width: 200px;
    height: 50px;
    border: 2px solid #c2b093;
    border-radius: 50px;
    color: #c2b093;
    line-height: 50px;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all .5s;
}

.intro-area .link-intro:hover {
    color: #fff;
    box-shadow: 500px 0 0 0 #c2b093 inset;
    background: #c2b093;
    transition: 2.5s;

}

.intro-area .link-intro::after {
    content: '';
    position: absolute;
    line-height: 60px;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    z-index: 1;
    background: #c2b093;
    transition: all .8s;
    display: block;
}

.intro-area .link-intro:hover::after {
    width: 100%;
    z-index: -1;
}


/* 닥터스그룹-------------------------------- */
.sc-doctors-group {
    padding: 250px 0 200px;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sc-doctors-group .intro-area {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.sc-doctors-group .intro-area .subtitle {
    padding-bottom: 30px;
}

.sc-doctors-group .intro-area .desc {
    padding: 40px 0 60px;
    font-weight: 300;
    font-size: 15px;
}

.sc-doctors-group .doctors-group-wrap {
    width: 33%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sc-doctors-group .img-box {
    width: 343px;
    height: 358px;
    overflow: hidden;

}

.sc-doctors-group .img-box img {
    width: 100%;
}

.sc-doctors-group .desc-box {
    position: absolute;
    top: 330px;
}

.sc-doctors-group .desc-box .title {
    font-size: 50px;
    padding: 2% 0;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(0deg, #333 55%, #fff 0);
    -webkit-background-clip: text;

}

.sc-doctors-group .desc-box .desc {
    padding: 2% 0;
    line-height: 25px;
}

/* 브랜드스토리--------------------------- */

.sc-brand-story {
    padding: 120px 0;
}

.sc-brand-story .intro-area {
    position: relative;
    margin-bottom: 30px;
}

.sc-brand-story .intro-area .title {
    font-size: 64px;
}

.sc-brand-story .intro-area .link-intro {
    position: absolute;
    right: 250px;
    bottom: 0;
}

.sc-brand-story .video-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sc-brand-story .video-wrap {
    width: 960px;
    height: 540px;
    z-index: 2;
}

.sc-brand-story .video-wrap source {
    width: 100%;

}

.sc-brand-story .video-bg {
    z-index: 1;
    background: url(../images/bs-bg.jpg);
    width: 83%;
    height: 600px;
    position: absolute;
    top: 70px;
    left: 0;
}

.sc-brand-story .video-bg .title {
    color: #fff;
    position: absolute;
    top: 50px;
    left: 50px;
}

.sc-brand-story .video-bg .desc {
    position: absolute;
    color: #fff;
    bottom: 40px;
    left: 290px;
    line-height: 25px;
    font-size: 18px;
}

/* 시그니처 ----------------------------*/
.sc-signature {
    padding: 200px 0;
}


.sc-signature .intro-area {
    position: relative;
}

.sc-signature .intro-area .title {
    font-size: 64px;
}

.sc-signature .intro-area .link-intro {
    position: absolute;
    right: 250px;
    bottom: -5px;
}

.sc-signature .signature-area {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.sc-signature .sg-bg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: url(../images/2-bg.png) center no-repeat;
    width: 457px;
    height: 405px;
    display: inline-block;


}

.sc-signature .signature-area::after {
    content: "";
    position: absolute;
    top: 76%;
    left: 8%;
    height: 2px;
    background: #e5e3df;
    display: inline-block;
    width: 84%;
}

.sc-signature .signature-wrap {
    width: 28%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 1;
}

.sc-signature .img-box {
    border-top-left-radius: 100% 80%;
    border-top-right-radius: 100% 80%;
    overflow: hidden;
}

.sc-signature .signature-wrap:hover {
    z-index: 3;
}

.sc-signature .signature-wrap .img-box img {

    transition: 1s;
}

.sc-signature .signature-wrap:hover .img-box img {
    transform: scale(1.2);
}


.sc-signature .desc-box .title {
    font-size: 50px;
    padding: 30px 0 60px;
}

.sc-signature .desc-box .desc {
    line-height: 20px;
}





.sc-ask {
    overflow: hidden;
    position: relative;
    color: #fff;
    padding: 0 60px;
    height: calc(100vh - 91px);
    padding-bottom: 200px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
}

.sc-ask::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url(../images/footer-bg.jpg) no-repeat center / cover;
    z-index: -1;
    transform: scale(1.2);
    transition: transform 10s;
}

.sc-ask.active::before {
    transform: scale(1);
}

.sc-ask .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.sc-ask .sc-ask-bottom {
    padding: 0 60px;
}



.sc-ask .sc-ask-top {
    color: #fff;
}

.sc-ask .common-inner {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.sc-ask .contact-area {
    width: 75%;
    text-align: center;
}

.sc-ask .corp {
    display: block;
    font-size: 50px;
    padding: 70px 0 120px;
}

.sc-ask .contact-wrap {
    display: flex;
    justify-content: center;
    padding-bottom: 70px;

}

.sc-ask .contact-box {
    width: 33.3%;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.sc-ask .contact-box::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 80px;
    /* background: #707070; */
    background: #fff;
}

.sc-ask .contact-box:last-child:after {
    display: none;
}

.sc-ask .contact-box .contact {
    font-size: 17px;
    margin-bottom: 20px;
}

.sc-ask .contact-box .link-contact {
    line-height: 1.6;

}

.sc-ask .contact-box .link-contact.kakao {
    height: 53px;
    width: 54px;
    background: url(../images/plus.png) 100% no-repeat;
    background-size: cover;
    display: inline-block;
}

.sc-ask .contact-box .link-contact.call {
    font-size: 34px;
}

.sc-ask .contact-box .link-contact.map {
    font-size: 18px;
    text-align: center;
}

.sc-ask .reserve-form {
    width: 30%;
    text-align: center;
}

.sc-ask .reserve {
    background: url(../images/re-bg.jpg) 100% no-repeat;
    background-size: cover;
    margin-top: 30px;
    padding: 40px;
}

.sc-ask .reserve legend {
    font-size: 28px;
    margin-bottom: 20px;
}

.sc-ask .btn-agr::before {
    background: #fff;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #bbb;
    display: inline-block;
    content: '';
    position: absolute;
    top: 0px;
    left: 10px;
}

.sc-ask .btn-agr {
    position: relative;
    display: block;
    text-align: center;
    width: 250px;
    margin: 0 auto;
    color: #fff;
}

.sc-ask .btn-agr.active::before {
    content: '✔';
}

.sc-ask .name-wrap {
    width: 84%;
    margin: 0 auto;
}

.sc-ask .name-box {
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}

.sc-ask .call-wrap {
    width: 84%;
    margin: 0 auto;
    margin-top: 15px;
}

.sc-ask .call-box {
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}

.sc-ask .select-wrap {
    width: 84%;
    margin: 15px auto;
}

.sc-ask .select-box {
    width: 100%;
    padding: 8px 5px;
    height: 3.8em;
    background: #fff;
    box-sizing: border-box;
}


.sc-ask .agr-label {
    font-size: 14px;
    vertical-align: top;
    line-height: 30px;
}

.sc-ask .agr-label::before {
    content: '';
    display: inline-block;
    width: 18px;
    height: 18px;
    border: 1px solid #d0d0d0;
    border-radius: 50%;
    margin-right: 10px;
    transform: translateY(5px);
}

.sc-ask .agr-label.active::before {
    content: '✔';
}







.sc-ask label {
    /* margin-top:20px; */
    display: inline-block;
    font-size: 12px;
    font-weight: bold;
    line-height: 15px;
}


.sc-ask .reserve .btn-reserv {
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    width: 275px;
    height: 60px;
    border-radius: 10px;
    background-color: #b6a58b;
    padding: 8px;
    border: 0;
    color: #fff;
    font-size: 16px;
    line-height: 1.6;
    cursor: pointer;
}




.sc-ask .pv-pop {
    position: absolute;
    left: 50%;
    margin-left: 36%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 360px;
    height: 370px;
    background: #fff;
    box-sizing: border-box;
    z-index: 26;
    padding: 20px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.6);
    display: none;
    opacity: 0;
}

.sc-ask .pv-pop.active {
    display: block;
    opacity: 1;
}

.sc-ask .btn-pv {
    display: block;
    border: 1px solid #006241;
    color: #006241;
    line-height: 55px;
    border-radius: 10px;
    margin: 20px 10px 30px;
    font-weight: 500;
    text-align: center;
}

.sc-ask .btn-pv:hover {
    background: #006241;
    color: #fff;
}

.sc-ask .pv-pop label {
    font-size: 12px;
    font-weight: 300;
    color: #a0a0a0;
    line-height: 1.4;
    float: left;
    padding-left: 25px;
    margin: 10px 0;
    position: relative;
}

.sc-ask .pv-pop label::before {
    background: #fff;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    border: 1px solid #bbb;
    display: inline-block;
    content: '';
    position: absolute;
    top: 0;
    left: 0px;
}

.sc-ask .pv-wrap.active label::before {
    background: #006241;
}

.sc-ask .pv-pop .btn-close {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 25px;
}

.sc-ask .pv-pop .btn-close:before,
.sc-ask .pv-pop .btn-close:after {
    display: block;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #000;
    position: absolute;
    top: 4px;
    left: 12px;
}

.sc-ask .pv-pop .btn-close:before {
    transform: rotate(45deg);
}

.sc-ask .pv-pop .btn-close:after {
    transform: rotate(-45deg);
}

.sc-ask .pv-pop .link-pv {
    width: 100%;
    text-align: right;
    display: inline-block;
    text-align: center;
    font-size: 13px;
    color: #bbb;
    font-weight: 300;
    text-decoration: underline;
    margin-top: 20px;
}